# Created by .ignore support plugin (hsz.mobi)
### Example user template template
target
# IntelliJ project files
.idea
*.iml
*.log
out
gen
/.idea/
*.classpath
*.project
*.factorypath
/bin/
*.ipr
*.iws
*.pid
.DS_Store
rebel.xml
.flattened-pom.xml